@media screen and (min-width: 480px) {
  .header-container,
  .hero-container,
  .benefits-container,
  .team-container,
  .customers-container,
  .footer-container,
  .portfolio-container {
    width: 428px;
  }

  /*------------HERO----------------- */

  .mob-menu-tel-link {
    font-size: 36px;
  }

  /* -----------BENEFITS-------------- */
  .benefits-item {
    width: 396px;
  }

  /* ----------CUSTOMERS-------------- */

  .customers-item {
    width: 190px;
    height: 88px;
  }

  /* ----------MODAL-------------- */
  .modal {
    width: 392px;
  }
}
